@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Inter:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
    color: #444;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    /* background-color: orangered; */
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/hero.jpg');
    background-size: cover;
    color: #fff;
}

.header-container {
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.header-container-inner {
    width: 50%;
}

nav {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    /* background-color: green; */
}

h1 {
    font-size: 52px;
    margin-bottom: 32px;
    line-height: 1.05;
}

p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.btn:link,
.btn:visited {
    font-size: 16px;
    font-weight: 600;
    background-color: #e67e22;
    color: #fff;
    padding: 16px 24px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
}

h2 {
    font-size: 44px;
    margin-bottom: 48px;
}

section {
    padding: 96px 0;
    background-color: #f7f7f7;
}