* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 24px;
    color: #343a40;
    height: 100vh;
    text-align: center;
    font-weight: bold;
    

    display: grid;
    grid-template-columns: 80px 400px 1fr 250px;
    grid-template-rows: 80px 1fr;
}

nav, section, main, aside {
    padding-top: 24px;
}

nav {
    background: #343a40;
    color: #fff;
    grid-row: 1 / -1;
}

menu {
    background: #7048e8;
    color: #fff;
    grid-column: 2 / -1;

    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 12px;
    padding: 0 40px;
}

section {
    background: #e9ecef;
    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    overflow: scroll;
}

.email {
    background: #ced4da;
    height: 96px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

aside {
    background: #e9ecef;
}

button {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    background: #5f3dc4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
}

/* .trashBtn {
    background: #e64980;
} */

button:last-child {
    background: #e64980;
    margin-left: auto;
}